.formulario {
  width: 300px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="tel"] {
  padding: 5px;
  margin: 5px 0;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

input[type="radio"] {
  display: inline-block;
  margin: 10px 5px 5px 5px;
}

button {
  background-color: #4070F4;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4070F4;
}

.identificador{
  margin : 15px;
}

.elemento{
  margin: 10px 0;
}